body {
  background-color: #1b1b1b;
  font-family: 'Segoe UI', sans-serif;
  font-size: 120%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 850px;
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 1rem;
  position: relative;
}

header {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  margin-bottom: 0.5rem;
  background-image: linear-gradient(#29f, #08f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}

section {
  padding: 2rem 0;
}

.exercises-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
.exercises-container a {
  padding: 1rem 0;
  text-align: center;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
}
footer a {
  margin: 0 1rem;
  font-size: 14px;
  color: #e0e0e0;
}
footer a:hover {
  color: #ececec;
  text-decoration: underline;
}